USE [DbKellyCakes]
GO
/****** Object:  Table [dbo].[bolo]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bolo](
	[id_bolo] [int] IDENTITY(1,1) NOT NULL,
	[preco] [int] NULL,
	[peso] [int] NULL,
	[tipo_cobertura] [varchar](100) NULL,
	[decoracao] [varchar](100) NULL,
	[foto_referencia] [nchar](255) NULL,
	[observacao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoloMassa]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoloMassa](
	[id_bolo_massa] [int] IDENTITY(1,1) NOT NULL,
	[fk_bolo_id_bolo] [int] NOT NULL,
	[fk_massa_id_massa] [int] NOT NULL,
	[numero_andar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bolo_massa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoloRecheio]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoloRecheio](
	[id_bolo_recheio] [int] IDENTITY(1,1) NOT NULL,
	[fk_bolo_id_bolo] [int] NOT NULL,
	[fk_recheio_id_recheio] [int] NOT NULL,
	[numero_andar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bolo_recheio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrinho]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrinho](
	[id_carrinho] [int] IDENTITY(1,1) NOT NULL,
	[fk_usuario_id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrinho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Carrinho_Usuario] UNIQUE NONCLUSTERED 
(
	[fk_usuario_id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartao]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartao](
	[num_cartao] [varchar](100) NULL,
	[nome_cartao] [varchar](100) NULL,
	[id_cartao] [int] IDENTITY(1,1) NOT NULL,
	[fk_usuario_id_usuario] [int] NULL,
	[bandeira] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cartao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionario]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[nome] [varchar](100) NULL,
	[cpf] [varchar](14) NULL,
	[telefone] [varchar](100) NULL,
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC,
	[telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredientes]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredientes](
	[fk_sabor_recheio_id_recheio] [int] NULL,
	[fk_bolo_id_bolo] [int] NULL,
	[fk_tipo_massa_id_massa] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCarrinho]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCarrinho](
	[id_item_carrinho] [int] IDENTITY(1,1) NOT NULL,
	[fk_carrinho_id_carrinho] [int] NOT NULL,
	[fk_bolo_id_bolo] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item_carrinho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPedido]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPedido](
	[id_item_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fk_pedido_id_pedido] [int] NOT NULL,
	[fk_bolo_id_bolo] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[preco_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[status_pedido] [varchar](100) NULL,
	[data_pedido] [date] NULL,
	[fk_funcionario_id_funcionario] [int] NULL,
	[fk_usuario_id_usuario] [int] NULL,
	[forma_pagamento] [varchar](30) NULL,
	[fk_cartao_id_cartao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sabor_recheio]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sabor_recheio](
	[id_recheio] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recheio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_massa]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_massa](
	[nome] [varchar](100) NULL,
	[id_massa] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_massa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 08/10/2026 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [nchar](14) NULL,
	[nome] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](15) NULL,
	[senha] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC,
	[senha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemCarrinho] ADD  DEFAULT ((1)) FOR [quantidade]
GO
ALTER TABLE [dbo].[ItemPedido] ADD  DEFAULT ((1)) FOR [quantidade]
GO
ALTER TABLE [dbo].[BoloMassa]  WITH CHECK ADD FOREIGN KEY([fk_bolo_id_bolo])
REFERENCES [dbo].[bolo] ([id_bolo])
GO
ALTER TABLE [dbo].[BoloMassa]  WITH CHECK ADD FOREIGN KEY([fk_massa_id_massa])
REFERENCES [dbo].[tipo_massa] ([id_massa])
GO
ALTER TABLE [dbo].[BoloRecheio]  WITH CHECK ADD FOREIGN KEY([fk_bolo_id_bolo])
REFERENCES [dbo].[bolo] ([id_bolo])
GO
ALTER TABLE [dbo].[BoloRecheio]  WITH CHECK ADD FOREIGN KEY([fk_recheio_id_recheio])
REFERENCES [dbo].[sabor_recheio] ([id_recheio])
GO
ALTER TABLE [dbo].[Carrinho]  WITH CHECK ADD FOREIGN KEY([fk_usuario_id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[ItemCarrinho]  WITH CHECK ADD FOREIGN KEY([fk_bolo_id_bolo])
REFERENCES [dbo].[bolo] ([id_bolo])
GO
ALTER TABLE [dbo].[ItemCarrinho]  WITH CHECK ADD FOREIGN KEY([fk_carrinho_id_carrinho])
REFERENCES [dbo].[Carrinho] ([id_carrinho])
GO
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD FOREIGN KEY([fk_bolo_id_bolo])
REFERENCES [dbo].[bolo] ([id_bolo])
GO
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD FOREIGN KEY([fk_pedido_id_pedido])
REFERENCES [dbo].[Pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cartao] FOREIGN KEY([fk_cartao_id_cartao])
REFERENCES [dbo].[cartao] ([id_cartao])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cartao]
GO
